*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
  background-color: rgb(232, 232, 232);
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.card {
  width: 288px;
  margin: 0 auto;
}

.card-text {
  margin-top: 0;
  margin-bottom: 10px;
}

.card-img-top {
  display: flex;
  justify-content: center;
}

.search-form {
  padding: 10px;
  display: block;
}
.form-inline {
  margin: 0 auto;
}

h1 {
  font-size: 36px;
  text-align: center;
  margin-top: 20px;
  color: #2196f3;
}

/* Список посилань */
ul {
  list-style: none;
  padding: 0;
  margin: 20px auto;
  width: 80%;
}

li {
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: #333;
  font-size: 24px;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: #007bff;
}

/* Скрипт */
script {
  display: none;
}

.search-form {
  display: flex;
  justify-content: center;
  padding: 8px;
  margin-bottom: 24px;
  gap: 10px;
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button.is-hidden {
  display: none;
}

.button > .spinner.is-hidden {
  display: none;
}

/* Article List */
.articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: calc(100vw - 80px);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.articles li {
  height: 450px;
  overflow: hidden;
}

.articles img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.articles a {
  text-decoration: none;
  color: #2a2a2a;
}
/* ******************* */
.search-photo {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
}

.search-photo:hover {
  background-color: #6d4c26;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
}
.gallery {
}

.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
}

.gallery-item:hover .image-overlay {
  opacity: 1;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 5px;
}
.image-overlay p {
  color: #fff;
  text-align: center;
  /* margin-top: 200px; */
  font-size: 1.2rem;
  margin: 0;
}
